*{
    box-sizing: border-box;
}
div.actors-page{
    padding: 50px;
}
div>input.filter-input{
    /* margin: 10px 20px 10px 20px ; */
    margin: 0px auto;
        
}

h1{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}
